<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Profile</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link type="text/css" th:href="@{/css/user.css}" rel="stylesheet"></link>
<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
	integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border border-bottom-3 border-dark">
		<div class="container-fluid">


			<ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 20px">
				<li class="nav-item"><a class="nav-link text-primary"
					style="font-weight: bold" id="navbarDropdown" role="button"
					aria-expanded="false"><i class="fa-solid fa-building-circle"
						style="color: blue; font-weight: bold; font-size: 18px"></i>User
						Profile</a></li>
				<li><a class="dropdown-item text-primary mt-1" href="/"><i
						class="fa-regular fa-circle-left" style="color: red"></i> Logout</a></li>
			</ul>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a
						th:href="@{/userHome/{email}(email=${email})}" class="nav-link">
							<i class="fa-solid fa-home"></i> Home
					</a></li>
					<li class="nav-item"><a
						th:href="@{/userNotify/{email}(email=${email})}" class="nav-link">
							<i class="fa-solid fa-bell"></i> Notification
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/userJobs/{email}(email=${email})}"> <i
							class="fa-solid fa-rectangle-list"></i> Jobs
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/userComps/{email}(email=${email})}"> <i
							class="fa-solid fa-building-circle-check"></i> Companies
					</a></li>
				</ul>
				<div
					class="navbar-brand border border-success fw-bold rounded-3 p-1 border-3 bg-primary"
					style="color: white">
					JobIN <i class="fa-solid fa-cloud-bolt"></i>
				</div>
			</div>
		</div>
	</nav>
	<div class="main" style="max-height: 40rem;">
		<div th:object="${user}">
			<div>
				<div class="carddata"
					style="width: 35rem; height: 14rem; border-radius: 10px;">
					<div class="card-body">
						<h3 class="text-warning" style="margin-top: -25px">Your
							Details</h3>
						<div
							style="font-size: 70px; display: flex; gap: 1rem; font-weight: bold; margin-top: -20px">
							<div style="width: 20rem">
								<p class="card-title" style="font-size: 15px; margin-top: 25px;">
									<span>ID</span> : [[${user.id}]]<br> <span>NAME</span> :
									[[${user.name}]]<br> <span>EMAIL</span> : <span
										style="font-size: 13px">[[${user.email}]]</span><br> <span>DEGREE</span>
									: [[${user.education}]]<br> <span>STATE</span> :
									[[${user.state}]]<br> <span>PASSWORD</span> :
									[[${user.password}]]
								</p>
							</div>
							<div>
								<i class="fa-solid fa-circle-user"
									style="font-size: 10rem; margin-left: 50px; margin-top: 5px"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<h4 class="text-center text-danger">All Applied Jobs</h4>
				<div class="carddata"
					style="width: 47rem; height: 36rem; border-radius: 10px; overflow-y: auto">

					<div th:if="${histo}">
						<h4 class="text-danger">No Data Available</h4>
					</div>
					<div class="card-body" th:each="his :${hist}" style="height: 7rem;">
						<div
							style="border: 2px solid black; box-shadow: 0 0 8px black; border-radius: 10px; padding: 15px;">
							<div>
								<h6>
									Company Name : [[${his.name}]]<br>Job Title :
									[[${his.jobTitle}]]<br>Company Email : [[${his.cemail}]]<br>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<div class="carddata"
					style="width: 35rem; height: 23rem; border-radius: 10px; margin-top: -24rem;">
					<div>
						<h5
							style="background: aqua; width: 100%; margin-top: -25px; padding: 5px; text-align: center; border-radius: 0 0 0 5px;">
							Selected</h5>
					</div>
					<div style="overflow-y: auto; height: 17rem; margin-top: -8px">
					<div th:if="${histo}">
						<h4 class="text-dark">No Data Available</h4>
					</div>
						<div class="card-body" th:each="his :${hist}"
							style="height: 4rem;">
							<div class="bg-light text-success"
								style="border: 2px solid black; box-shadow: 0 0 5px black; border-radius: 10px; padding: 3px; margin-top: 2px"
								th:if="${his.icon==1}">
								<div style="margin: 5px;">
									<h6 class="text-center">
										[[${his.name}]]<br> [[${his.jobTitle}]]
									</h6>
								</div>
							</div>
							<div class="bg-light text-success" style="display: none"
								th:if="${his.icon!=1}"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div style="height: 45rem; width: 37rem; margin-left: -37rem;">
			<div class="carddata" style="border-radius: 10px">
				<div style="margin: -8px;">
					<div class="card-body" style="height: 39rem;">
						<div class="apply">
							<form th:action="@{/updateUser/{email}(email=${user.email})}"
								method="post" th:object="${uDto}">
								<h3 class="text-primary">Update Details</h3>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">Id</label> <input
										type="text" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" th:value="${user.id}" readonly
										style="border: none">
								</div>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">Email</label>
									<input type="email" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp"
										th:value="${user.email}" readonly style="border: none">
								</div>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" th:value="${user.name}"
										name="name" required>
								</div>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">Degree</label>
									<input type="text" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" th:value="${user.education}"
										name="education" required>
								</div>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">State</label>
									<input type="text" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" th:value="${user.state}"
										name="state" required>
								</div>
								<div class="mb-3 editUser">
									<label for="exampleInputEmail1" class="form-label">Password</label>
									<input type="password" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp"
										th:value="${user.password}" name="password" required>
								</div>

								<button type="submit" class="btn btn-primary"
									style="margin-left: 2px">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div style="height: 45rem; width: 49rem;">
			<div class="carddata" style="border-radius: 10px">
				<div style="margin: -8px;">
					<div class="card-body bg-info"
						style="height: 39rem; border-radius: 10px">
						<h1 class="text-center text-light">About Us</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident.Lorem ipsum dolor sit amet, consectetur
							adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
							occaecat cupidatat non proident.eprehenderit in voluptate velit
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
							occaecat cupidatat non proident.aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident.eprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proidenton proident.aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
							dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident.eprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident.on proident.aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute iru.</p>

						<div style="display: flex; gap: 1rem">
							<i class="fa-brands fa-instagram"> Asmin Kuldeep</i> <i
								class="fa-brands fa-facebook"> Asmin Kuldeep</i> <i
								class="fa-brands fa-whatsapp"> +91 00000 00000</i> <i
								class="fa-brands fa-linkedin"> Asmin Kuldeep</i>
						</div>
						<div>
							<footer class="text-center text-primary fw-bold mt-4">Developed
								By Asmin Kuldeep Jena</footer>
						</div>
					</div>
				</div>

			</div>
		</div>
</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</html>