<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Notifications</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link type="text/css" th:href="@{/css/user.css}" rel="stylesheet"></link>
<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
	integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border border-bottom-3 border-dark">
		<div class="container-fluid">


			<ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 20px">
				<li class="nav-item"><a class="nav-link text-primary"
					style="font-weight: bold" id="navbarDropdown" role="button"
					aria-expanded="false"><i class="fa-solid fa-building-circle"
						style="color: blue; font-weight: bold; font-size: 18px"></i> All
						Notifications</a></li>
				<li><a class="dropdown-item text-primary mt-1" href="/"><i
						class="fa-regular fa-circle-left" style="color: red"></i> Logout</a></li>
			</ul>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a
						th:href="@{/userHome/{email}(email=${email})}" class="nav-link">
							<i class="fa-solid fa-home"></i> Home
					</a></li>
					<li class="nav-item"><a
						th:href="@{/userNotify/{email}(email=${email})}" class="nav-link"
						style="color: green; font-weight: bold"> <i
							class="fa-solid fa-bell"></i> Notification
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/userJobs/{email}(email=${email})}"> <i
							class="fa-solid fa-rectangle-list"></i> Jobs
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/userComps/{email}(email=${email})}"> <i
							class="fa-solid fa-building-circle-check"></i> Companies
					</a></li>
				</ul>
				<div
					class="navbar-brand border border-success fw-bold rounded-3 p-1 border-3 bg-primary"
					style="color: white">
					JobIN <i class="fa-solid fa-cloud-bolt"></i>
				</div>
			</div>
		</div>
	</nav>
	<div class="main">
	<div th:if="${empjobs}">
			<h1 class="text-danger" style="margin: 16rem; margin-left: 32rem"
				 th:text="${empjobs}"></h1>
		</div>
		<div th:each="com :${coms}">
			<div class="carddata"
				style="width: 40rem; height: 15rem; border-radius: 15px;padding: 10px">
				<div class="card-body" style="display: flex;">
					<div class="card-title" style="width: 30rem;margin-top: -20px">
						<h1 th:text="${com.name}"></h1>
						<h4 th:text="${com.degree}"></h4>
						<h6 th:text="${com.cemail}"></h6>
						<h6 th:text="${com.uemail}"></h6>
						<p th:if="${com.icon==0}"
							style="color: gray"> <span class="text-danger">Application Pending</span><br>We are Processing, It will take 2 to 3 business days.</p>
						<p th:if="${com.icon==1}" th:text="${com.respoMesg}"
							style="color: green"></p>
						<p th:if="${com.icon==2}" th:text="${com.respoMesg}"
							style="color: red"></p>
					</div>
					<div th:if="${com.icon==0}" style="right: 0;margin-left: 10rem">
						<i class="fa-regular fa-clock" style="font-size: 10rem"></i>
					</div>
					<div th:if="${com.icon==1}" style="right: 0;margin-left: 10rem">
						<i class="fa-solid fa-face-smile" style="font-size: 10rem;color: green"></i>
					</div>
					<div th:if="${com.icon==2}" style="right: 0;margin-left: 10rem">
						<i class="fa-solid fa-face-sad-tear" style="font-size: 10rem;color: red"></i>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</html>